.auth__main {
    align-items: center;
    background-color: $Neutral_I;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.auth__box-container {

    background-color: $Neutral_I;
    border: 2px solid $Primary_III;
    border-radius: 20px;
    padding: 50px;
    width: 450px;
    height: 700px;
}

.auth__box-input {
    background-color: transparent;
    border: 1px solid $Neutral_IV;
    font-size: 25px;
    margin-bottom: 15px;
    height: 65px;
    width: 100%;
    border-radius: 8px;

    transition: border-bottom .3s ease;

    &:hover {
        border: 1px solid $Neutral_VI;
    }

    &:focus {
        border: 10px solid $Primary_V;
        outline: none;
    }
}

.auth__input {
    color: $Neutral_VI;
    font-size: 25px;
    margin-left: 10px;
    //margin-bottom: 15px;
    height: 65px;
    width: 90%;
    background-color: transparent;
    border: hidden;
    outline: hidden;

    &:focus {
        border: hidden;
        border-color: $Primary_I;
        outline: none;
    }
}