.font__title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 42px;

    color: $Neutral_VI;

    line-height: 20px;
    font-size: 28px;
    font-style: bold;
}

.font__secondary {
    display: flex;
    justify-content: left;
    align-items: center;

    padding-bottom: 24px;

    color: $Neutral_V;
    
    line-height: auto;
    font-size: 24px;
    font-style: normal;
}

.font__terciary {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $Neutral_VI;

    font-style: italic;
    font-size: 16px;

    margin-bottom: 16px;

    text-align: center;
}

.font__quad {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $Neutral_VI;

    font-style: normal;
    font-size: 24px;

    margin-top: 42px;
    margin-bottom: 24px;

    text-align: center;
}

.font__link {

    color: $Quaternary_I;

    font-style: normal;

    text-align: center;
}

.font__error {
    display: flex;
    justify-content: center;
    align-items: center;

    position: flex;
    height: 8px;
    //padding: 8px;

    color: $error;

    font-style: bold;
    font-size: 16px;
}

.font__small {

    color: $Neutral_VI;
    font-style: normal;
    font-size: 14px;
}