.seller_main {
  align-items: center;
  background-color: $Primary_I;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.seller_main_container {
  display: block;
  align-items: center;
  //background-color: $Primary_II;
  background-color: $Primary_I;
  padding: 10px;
  width: 560px;
  height: auto;
  //margin: auto;
}

.seller_container {
  background-color: $Neutral_I;
  border: 2px solid transparent;
  border-radius: 20px;
  display: block;
  align-items: center;
  padding: 2.5%;
}

.seller_buttons-container {
  border: 2px solid transparent;
  display: flex;
  justify-content: right;
}

.seller_input-container {
  background-color: transparent;
  border: 2px solid $Neutral_III;
  border-radius: 8px;

  display: flex;

  height: 32px;
  width: 75%;
  margin-bottom: 16px;

  &:hover {
    border: 2px solid $Primary_III;
  }

  &:focus-within {
    border: 2px solid $Primary_III;
    background-color: $Primary_I;
  }
}

.seller_input {
  color: $Neutral_V;
  background-color: transparent;
  border: hidden;
  outline: hidden;

  font-size: 14px;
  width: 100%;

  margin-left: 10px;

  &:focus {
    color: $Neutral_VI;
    border: hidden;
    outline: none;
  }
}

.seller_direction-container {
  //background-color: $Primary_I;
  display: inline-block;
  //align-items: left;
  //justify-content: left;
  //width: 50%;
  //padding-inline-start: 2.5%;
  //padding-left: 20px;
}

.seller_input-container_small {
  background-color: transparent;
  border: 2px solid $Neutral_III;
  border-radius: 8px;

  height: 32px;
  width: 90%;

  &:hover {
    border: 2px solid $Primary_III;
  }

  &:focus-within {
    border: 2px solid $Primary_III;
    background-color: $Primary_I;
  }
}

.seller_input_small {
  color: $Neutral_V;
  background-color: transparent;
  border: hidden;
  outline: hidden;

  font-size: 14px;
  width: 100%;

  //margin-left: 10px;

  &:focus {
    color: $Neutral_VI;
    border: hidden;
    outline: none;
  }
}

.seller_container_like{
  display: grid;
  justify-content: center;
  align-content: center;
}

.seller_like_logo{
  color: $Quaternary_I;
  padding: 10px;
}