.login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Neutral_I;
    height: 100vh;
    width: 100vw;
}

.login_main_container {
    background-color: $Neutral_I;
    border: 2px solid $Primary_III;
    border-radius: 20px;
    padding: 50px;
    width: 560px;
    height: 799px;
}
.login_main_container2 {
    display: block;
    align-items: center;
    background-color: $Neutral_I;
    border: 2px solid $Primary_III;
    border-radius: 20px;
    padding: 25px;
    width: 560px;
    height: 799px;
}

.login_input-container {
    background-color: transparent;
    border: 2px solid $Neutral_III;
    border-radius: 8px;

    display: flex;
    
    height: 62px;
    margin-bottom: 16px;

    &:hover {
        border: 2px solid $Primary_III;
    }

    &:focus-within {
        border: 2px solid $Primary_III;
        background-color:$Primary_I;
    }
}

.login_input {
    color: $Neutral_V;
    background-color: transparent;
    border: hidden;
    outline: hidden;

    font-size: 24px;
    width: 100%;

    margin-left: 10px;

    &:focus {
        color: $Neutral_VI;
        border: hidden;
        outline: none;
    }
}