.main_menu {
    background-color: $Neutral_I;
    height: 100vh;
    width: 100vw;
}

.side_menu_container {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $Neutral_II;
    padding-top: 20px;
}

.side_menu_container a {
    display: block;
    text-decoration: none;
    padding: 15px;
    left: 0;
    text-align: center;
    color: black;

    &:hover{
        background-color: $Neutral_III;
    }
    
    &:focus{
        border: 2px solid $Primary_IV;
        color: $Primary_IV;
    }
}

.icon1 {
    //border: 2px solid $Primary_IV;
    display:inline-block;
    position:relative;
    top: 5px;
    right: 10px;
}

.icon2 {
    //border: 2px solid $Primary_IV;
    display:block;
    position:relative;
    top: 10px;
}

.menu_container {
    display: block;
    //display: none;
    text-decoration: none;
    left: 0;
    text-align: center;
    color: $Neutral_III;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &:hover{
        background-color: $Neutral_I;
    }

    &:focus{
        border: 2px solid $Neutral_I;
        background-color: $Neutral_I;
        color: $Primary_II;
    }
}

.notification{
    background-color: $Primary_II;
    border-radius:50px;
    color: $Neutral_VI;
    padding: 15px 26px;
    font-size: 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification_badge{
    position:fixed;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.notification_badge2{
    position: absolute;
    top: 7%;
    right: 3%;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}