// Colors
$Primary_I: #EFDEFF;
$Primary_II: #DCC2FA;
$Primary_III: #BC87F6;
$Primary_IV: #AB61FD;
$Primary_V: #8B11EF;
$Primary_VI: #6300B5;
$Primary_VII: #37026F;

$Neutral_I: #ffffff;
$Neutral_II: #EDEDED;
$Neutral_III: #C7C7C7;
$Neutral_IV: #949494;
$Neutral_V: #696969;
$Neutral_VI: #161616;

$Quaternary_I: #22C7C7;
$Quaternary_II: #076565;

$error: #FE5500